<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app"></div>

    <script type="module">
      import Vue from "./vue.esm.browser.js";

      new Vue({
        el: "#app",
        // .prevent automatically results in event.preventDefault() being called
        template: `
                    <form @submit.prevent="login( $event )">
                        <label for="fullname">Full name</label>
                        <input type="text" id="fullname" name="fullname" v-model="credentials.fullname" />
                        The full name is {{credentials.fullname}}
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" v-model="credentials.password" />
                        <button type="submit">Submit</button>
                        <p>
                            Fullname submitted is {{valuesToSubmit.fullname}}
                        </p>
                        <p>
                            Password submitted is {{valuesToSubmit.password}}
                        </p>
                    </form>
                `,
        data: {
          credentials: {
            fullname: "John Doe",
            password: "",
          },
          valuesToSubmit: {},
        },
        methods: {
          login(event) {
            console.log(event);
            // prevent page refresh (browser will request same page again on form submit - this prevents refresh)
            // event.preventDefault();

            // we create a copy of the credentials object as we want ot keep the credentials and valuesTOSubmit as seprate objects
            this.valuesToSubmit = {
              ...this.credentials,
            };
          },
        },
      });
    </script>
  </body>
</html>
